
/**
 * LeadLander
 */

.logo[data-logo="LeadLander"] {
  width: 5.988888889em;
  /* (3.85/0.36) * (1-.22-.22) - 0 */
}

.logo[data-logo="LeadLander"] > * {
  background-image: url(images/logo.svg);
  margin: .22em 0;
}

.logo[data-logo="LeadLander"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="LeadLander"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
